@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Inter);
@import "tailwindcss";
@import "@nuxt/ui";
@import "./ui-default-theme.css";

.three-dots {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
}

.bg-primary {
    @apply bg-(--ui-primary)
}

@utility bg-background {
    @apply bg-(--ui-background)
}

.ui-shadow {
    @apply shadow-[0px_7px_10px_0px_rgba(0,0,0,0.08)];
}

body {
    @apply !bg-(--ui-background) overflow-x-hidden
}

@utility ui-ring {
    @apply ring-(--ring-color) ring-1;
}

@utility responsive-card {
    @apply lg:basis-1/4 xs:basis-1/3 basis-1/2 lg:max-w-1/4 xs:max-w-1/3 max-w-1/2 p-[calc(var(--ui-gap)/2)];
}


.ui-scrollbar-y::-webkit-scrollbar-thumb {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

.ui-scrollbar-y::-webkit-scrollbar-track {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

.ui-scrollbar-y::-webkit-scrollbar-corner {
    background: red !important;
    border-radius: 100%;
    width: 8px;
}

[data-vaul-drawer] {
    -webkit-user-select: auto !important;
    user-select: auto !important;
}